{% extends "mybase2.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>
 .content-section {
   margin:50px;
  
   }
  li {
    color:red;
	}
</style>
</head>
 
 
 
  
 
 
    <div class="content-section" >
        <h1 style="color:green">Password Reset Form</h1><hr>
        <p>Please enter your new password.</p>
        <form method="POST" hx-boost="true">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-active btn-primary" type="submit" style="margin-top:4px;">Reset password</button>
        </form>
    </div>
{% endblock %}
  